#hero {
  min-height: 100vh;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  img{
    width: 593px ;
    height: 480px ;
    
    @include respond(phone) {
    width: 356px;
    height: 288px;
      
    }
    @include respond(phone-xs) {
    width: 295px;
    height: 240px;
      
    }
  }

  .hero-container{
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      flex-direction: column-reverse
    }
    @include respond(tab-port) {
      flex-direction: column-reverse
    }
    @include respond(phone) {
      flex-direction: column-reverse
    }
    @include respond(phone-xs) {
      flex-direction: column-reverse
    }
  }

  .container-class{
    display: flex;
    align-items: center;
    margin-bottom: 15px
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin: 3.2rem 0;
    text-align: left;

    @include respond(tab-land) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(tab-port) {
      font-size: 3rem;
      text-align: center;
      
    }
    @include respond(phone) {
      font-size: 2.8rem;
      line-height: 1.5;
      
    }
    @include respond(phone-xs) {
      font-size: 2.2rem;
      
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-land) {
      justify-content: center;
    }

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
